.breadcrumb{
  padding: 5px;
  background: #f6f5ec;
}
.breadcrumb a{
  color: #80bd01;
}
.container_left{
  width: 65%;
  margin: 10px 20px;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  float: left;
}
.container_bottom{
  width: 65%;
  margin: 10px 20px;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  float: left;
}
.container_right{
  margin: 10px 20px 10px 0px;
  overflow: hidden;
  float: right;
  border-radius: 4px;
  width: 25%;
}
.topic_author_title{
  background: #f6f5ec;
  margin: 0;
  padding: 10px;
}
.topic_detail_userinfo{
  background: #fff;
  margin: 0 0 20px 0;
}
.topic_detail_userinfo_img{
  padding: 10px;
}
.topic_detail_title{
  overflow: hidden;
  padding: 10px;
}
.topic_detail_title .title_tab{
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
}
.topic_detail_title_left{
  float: left;
}
.post_info{
  font-size: 12px;
}
.post_info span{
  color: #74787c;
}
.topic_detail{
  padding: 20px;
  font-size: 14px;
}
.topic_detail img{
  width: 100%;
  height: auto;
}
.collect{
  width: auto;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  float: left;
  cursor: pointer;
  background: #80bd01;
}
.collect:hover{
  background: #1d953f;
}
.is_collect{
  background: #d3d7d4;
}
.is_collect:hover{
  background: #8a8c8e;
}
.topic_detail_title_list{
  padding: 20px;
  font-size: 14px;
}
.topic_detail_title_list a{
  color: #74787c;
}
.topic_reply, .topic_reply .markdown-text{
  padding: 10px;
  font-size: 14px;
}
.topic_reply_item_title{
  color: #74787c;
}
.topic_detail_title_list_item a{
  width: 100%;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}
.ups, .reply_spe, .reply_delete{
  float: right;
  color: #80bd01;
  margin-right: 10px;
  cursor: pointer;
}
.ups:hover, .reply_spe:hover, .reply_delete:hover{
  color: #1d953f;
}
.reply_box{
  float: left;
  width: 65%;
  margin: 20px;
  background: #fff;
}
.reply_header {
  padding: 10px;
  background: #f6f5ec;
}
.reply-btn{
  width: auto;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  float: left;
  margin: 10px;
  cursor: pointer;
  background: #0088CC;
}
.reply-btn:hover{
  background: #0056CC;
}
.reply_delete{
  display: none;
}
